PORT=
PUBLIC_PATH=

# POSTGRES_URL=postgresql://postgres:123456@localhost:5435/TODO ---> local
# POSTGRES_URL=postgresql://yoeldtrujillo:gSBNlF0P3vTz@ep-blue-paper-a57zea3a.us-east-2.aws.neon.tech/tododb?sslmode=require --> neondb
POSTGRES_URL=
POSTGRES_USER=
POSTGRES_DB=TODO
POSTGRES_PORT=
POSTGRES_PASSWORD=


NODE_ENV=

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings